* {
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 13px;
}

.instagram-wrap {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100vh;

}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.instagram-phone img {
    height: 90vh;


}

.instagram-login{
    width: 100%;
    min-width: 350px;
    max-width: 400px;
}

.form {
    width: 80%;
    margin: 30px 0;
}

.instagram-continue {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    height: 40rem;
}

.group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 1rem 0;
    border: 1px solid lightgrey;
}

.group:nth-child(1) {
    min-height: 20rem;
}

.instagram-logo {
    height: 3rem;
    margin: 20px;
}

.group input[type="text"] {
    width: 100%;
    background-color: rgb(238, 238, 238);
    line-height: 2rem;
    padding-left: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 3px 0;
    text-align: left;
}

.group input[type="password"] {
    width: 100%;
    background-color: rgb(238, 238, 238);
    line-height: 2rem;
    padding-left: 5px;
    border: 1px solid lightgrey;
    margin: 3px 0;
    border-radius: 3px;
    text-align: left;
}

.group button[type="submit"] {
    width: 100%;
    background-color: #b2dffc;
    border: 0px solid lightgrey;
    line-height: 2rem;
    color: white;
    border-radius: 3px;
    margin: 10px 0;

}



.oudiv {
    width: 30px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(153, 153, 153);
}

.hr-flex {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;

}

.hr {
    height: 1px;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: rgb(204, 204, 204);
    position: relative;

}

.facebook-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: #475993;
}

.facebook-login img {
    height: 15px;
    width: 15px;
    margin-right: 3px;
}

.forget-password a {
    color: black;

}

.group:nth-child(2) {
    margin: 20px 0;
    padding: 20px 0;
}

.group:nth-child(2) a {
    color: #0097f6;
}

.get-app p {
    margin-bottom: 20px;
}

.store-button {
    display: flex;
    justify-content: space-evenly;
}

.store-button a img {
    height: 40px;

}

#footer{
    width:75%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
    justify-content: center;
    margin-bottom:100px;
}

#footer a {
    font-size: 12px;
    color: #9c8e8e;
}


@media (max-width: 850px){
    .instagram-phone{
        display: none;
    }
    .instagram-continue{
        justify-content: center;
    }
}

    
